.lato-regular {
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

*{
    padding: 0px;
    margin: 0px;
    border: border-box;
    font-family: "Noto Sans", sans-serif;
    color: white;
}

html, body {
    overflow-x: hidden;
}

.index{
    height: 10vh;
    background-color: #b44907fb;
    display: flex;
    position: sticky;
    position: fixed;
    top: 0;
    transition: all 0.5s ease 0.1s;
    width: 100%;
    left: 0;
    right: 0;
}
.logo{
    width: 30vw;
    background-image: url('final\ title\ logo.png');
    background-size: contain;
    background-repeat: no-repeat;
}
.list{
    width: 70vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.option{
    font-size: 1rem;
}
a{
    text-decoration: none;
}

.option a:hover {
    color: #000000;
}

.intro{
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('6397022.avif');
    display: flex;
    align-items: center; 
    justify-content: space-evenly; 
}
.text{
    font-size: 1.5rem;
    margin: 10rem;
}
.text p{
    color: #b44907fb;
}
.pic{
    height: 60vmin;
    width: 60vmin;
    border-radius: 50%;
    background-image: url('new\ logo.png');
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    background-color: #000000;
}
main h1{
    font-size: 3rem;
    /* -webkit-text-stroke-color: #000022;
    -webkit-text-stroke-width: 2px; */
    margin-bottom: 2rem;
    margin-top: 3rem;
    margin-left: 10vmin;
}


#about{
    border: 1px solid rgb(255, 255, 255);
    overflow: visible;
    overflow-y: auto;
}
.about-text{
    width: 140vmin;
    font-size: 1.2rem;
    margin-left: 30vmin;
    margin-bottom: 10vmin;
}

#events{
    border: 1px solid rgb(255, 255, 255);
}
.event-box{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 10vmin;
}
.e-text{
    height: 40vmin;
    width: 35vmin;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
}
button{
    border: none;
    align-self: flex-end;
    background-color: lightgrey;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: #000000;
    font-weight: bold;
    border-radius: 10px;
    opacity: 0;
}
button:hover{
    opacity: 1;
    cursor: pointer;
}

#team{
    border: 1px solid rgb(255, 255, 255);
}
#team h2{
    margin-left: 10vmin;
    /* -webkit-text-stroke-color: #000022;
    -webkit-text-stroke-width: 2px; */
    font-size: 2.5rem;
}
.leads{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10vmin;
}
.lead{
    height: 40vmin;
    width: 38vmin;
    padding: 20px 0px 15px;
    margin-bottom: 5vmin;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
}
.heads{
    align-self: flex-end;
    background-color: lightgrey;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: #000000;
    font-weight: bold;
}

.team-members{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10vmin;
}
.members{
    height: 40vmin;
    width: 35vmin;
    padding: 10px 0px 10px;
    margin-bottom: 5vmin;
    border: 1px solid white;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
}
.name{
    align-self: flex-end;
    background-color: lightgrey;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    color: #000000;
    font-weight: bold;
}

.quote_box{
    height: 20vmin;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    margin: 30px;
    display: flex;
    align-items: center;   
}
.quote_img{
    border-radius: 50%;
    height: 15vmin;
    width: 15vmin;
    border: 1px solid rgb(255, 255, 255);
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}
.user{
    margin-top: 30px;
    font-size: 2.5rem;
}
.quote_text{
    width: 80%;
    align-self: center;
    font-size: 20px;
    font-style: italic;
}

#contact{
    border: 1px solid rgb(255, 255, 255);
}
.socials{
    font-size: 1.2rem;
    margin-left: 30vmin;
    margin-bottom: 10vmin;
}
.social{
    display: flex;
    width: 20vmin;
    justify-content: space-evenly;
    font-size: 3rem;
}

.copyright{
    height: 5vh;
    background-color: #b44907fb;
    text-align: center;
    padding-top: 1.5rem;
}

.list, .event-box {
    flex-wrap: wrap;
}

.pop-up-box {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
    background-color: rgba(0, 0, 0, 0.75);
}
.pop-up-text {
    background-color: #b44907fb;
    z-index: 1;
    height: 70%;
    width: 60%;
    padding: 1.5rem;
    border-radius: 2rem;
    margin: 0;
}

#pop-up-head {
    font-size: 3.5rem;
    font-weight: bold;
    margin: 2rem 0;
}

.pop-up-text i {
    cursor: pointer;
    flex: 0 0 auto;
}

@media (max-width: 768px) {
    .event-box .e-text {
        width: 80vw;
    }
}

@media (max-width: 768px) {
    .text {
        margin: 5vh; 
    }
    .pic {
        width: 50vw;
    }
    .about-text, .socials {
        margin-left: 5vw;
        margin-right: 5vw;
    }
}

@media (max-width: 500px) {
    .quote_text {
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .about-text {
        font-size: 1rem;
        padding: 10px;
    }
}
/* 0094C6
005E7C
000932
040F16 */